// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.container{
    margin: 50px auto;
}
.domain_main, .setting_main{
    padding: 20px;
}
